.color-palette {
  height: 35px;
  line-height: 35px;
  text-align: right;
  padding-right: 10px;
}

.color-palette-set {
  margin-bottom: 15px;
}

.color-palette span {
  display: none;
  font-size: 30px;
}

.color-palette:hover span {
  display: block;
}

.color-palette-box h4 {
  position: absolute;
  top: 100%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  display: block;
  z-index: 7;
}

.menu-g-h {
  padding: 0;
  list-style-type: none;
}

.submenu-g-h {
  border: solid 1px #ddd;
  margin: 0;
  border-radius: 0;
  width: 100%;
}

.lnk-menu-g-h {
  height: 70px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  font-size: 16px;
}

.icon-g-h:before {
  font-size: 45px!important;
  margin: 10px;
}

.icon-g-h-submenu:before {
  margin-right: 10px;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.content-status-g-h {
  margin: 0 auto;
  display: table;
}

.content-total-cad-g-h > .row > .col-md-12 {
  border-top: solid 1px #ddd;
  padding-top: 25px;
}

.status-g-h {
  padding: 2px 5px;
  margin: 5px;
}

.content-total-cad-g-h {
  padding: 20px 15px;
}

.content-cad-g-h > p > strong {
  color: #506C61;
}

.content-dados-cadastrais {
  padding-top: 25px;
}

.content-hospede-info {
  background: #eee;
  padding-top: 15px
}

.destaque-edit {
  background: #506c61;
  margin-bottom: 10px;
}

.destaque-edit:after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: -10px;
  transform: rotate(45deg);
  background: #506c61;
}

.destaque-edit h4 {
  color: #fff;
}

.destaque-edit h4 span {
  color: #adb855;
  font-size: 0.8em;
  line-height: 1em;
}

.content-btn-gh {
  padding: 30px 0 0;
}