.content-client .box-header {
  padding-top: 20px;
}

.content-client .box-header .btn-sispou {
  width: -webkit-fill-available;
}

.icon-search-filter {
  position: absolute;
  right: 25px;
  top: 10px;
}

.resume-results {
  padding: 0 0 10px;
  color: #1B2D3B;
}

.table-list-sispou tbody tr:hover {
  outline: 2px solid #9DB7AC;
  cursor: pointer;
  color: #506C61;
}

.table-list-sispou tbody tr {
  color: #506C61;
  margin-left: 20px!important; 
}
