.content-dados-cadastrais {
  padding-top: 25px;
}

.content-hospede-info {
  background: #eee;
  padding-top: 15px
}

.destaque-edit {
  background: #506c61;
}

.destaque-edit:after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: -10px;
  transform: rotate(45deg);
  background: #506c61;
}

.destaque-edit h4 {
  color: #fff;
}

.destaque-edit h4 span {
  color: #adb855;
  font-size: 0.8em;
  line-height: 1em;
}

.content-btn-gh {
  padding: 30px 0 0;
}

.destaque-edit-notice {
  background: #1B2D3B;
  color: #ADB84F!important;
  text-align: center;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.destaque-edit-notice span{
  color: #ADB84F!important;
  text-transform: uppercase;
  font-size: 0.75em;
}

.icon-acompanhante:before {
  font-size: 0.7em;
}

.content-box-acompanhante small {
  color: #506C61;
}

.content-box-acompanhante .bg-sispou-clean {
  border-radius: 0;
}

.content-box-acompanhante.cliente-cadastrado .bg-sispou-clean {
  outline: 2px solid #9db7ac;
}

small.status-cliente-cadastrado {
  color: #1B2D3B;
  font-weight: 800;
}

.content-box-acompanhante .small-box .icon {
  top: -15px!important;
}

.content-box-acompanhante a.small-box-footer.bt-edit {
  color: #638577;
}

.content-box-acompanhante a.small-box-footer.bt-edit:hover {
  color: #506C61;
}

.content-box-acompanhante a.small-box-footer.bt-cliente {
  color: #638577;
  background: #b2c9c0;
}

.content-box-acompanhante a.small-box-footer.bt-cliente:hover {
  color: #506C61;
  background: #aac1b7;
}